# Các thư mục phụ thuộc (Dependency) - Quan trọng nhất để giảm tải RAM
node_modules/
jspm_packages/

# Các thư mục build (Đầu ra của React/Node)
dist/
build/
out/
.next/
bin/
obj/

# TypeScript
*.tsbuildinfo

# Nhật ký lỗi (Logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Biến môi trường (Bảo mật - Chứa API Key, Password)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File hệ thống & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Tệp tạm thời
tmp/
temp/